<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="LayoutMenuLateral" >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Lista de Consultas</title>
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />
    </head>
    <body>
        <section layout:fragment="conteudo">
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <h1 class="panel-title">Lista de Consultas</h1>
                </div>
                <div class="panel-body">
                    <form class="form-inline" method ="post" th:object="${consulta}" th:action="@{/consultas}" style="margin:20px 0">
                        <div class="form-group">
                            <input type="hidden" th:field="*{id}"/>
                            <select class="form-control" id="animal" th:field="*{animal}">
                                <option th:each="a : ${animais}" th:value = "${a.id}" th:text = "${a.nome}"></option>
                            </select>
                            <input type="text" class="form-control" th:field="*{nomeVeterinario}" placeholder="Veterinario"/>
                            <input type="text" class="form-control" th:field="*{sintomas}" placeholder="Sintomas"/>
                            <input type="text" class="form-control" th:field="*{diagnostico}" placeholder="Diagnostico"/>
                            <br><br>
                            <input type="date" class="form-control" th:field="*{dtConsulta}" placeholder="Data Consulta"/>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Animal</th>
                                <th>Veterinario</th>
                                <th>Sintomas</th>
                                <th>Diagnostico</th>
                                <th>Data Consulta</th>
                                <th colspan="2">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c: ${consultas}">
                                <td th:text="${c.getNomeAnimal()}"></td>
                                <td th:text="${c.nomeVeterinario}"></td>
                                <td th:text="${c.sintomas}"></td>
                                <td th:text="${c.diagnostico}"></td>
                                <td th:text="${c.dtConsulta}"></td>
                                <td> <a th:href="@{/consultas/alterar/} + ${c.id}" class="glyphicon glyphicon-pencil"></a> </td>
                                <td> <a th:href="@{/consultas/excluir/} + ${c.id}" class="glyphicon glyphicon-trash"> </a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
