<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutMenuLateral">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Localização</title>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/sidebar/sidebar.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section layout:fragment="conteudo">
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <h1 class="panel-title">Localizacao</h1>
                </div>
                <div class="panel-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14820.979290838332!2d-41.331029353280485!3d-21.770783789232542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdd43f2476c3ad%3A0xb32af6e0cbf8c2f8!2sIFF%20Campos%20Centro!5e0!3m2!1spt-BR!2sbr!4v1571181876544!5m2!1spt-BR!2sbr"
                        width="800" height="600" frameborder="0" style="border: 0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </section>
    </body>
</html>
